:root{
    --vermelho:#E50914;
    --preto: #141414;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

 header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    

 } 

 header nav a {
     text-decoration: none;
     color: #aaa;
     margin-right: 15px;
     font-family: Arial, Helvetica, sans-serif;

 }

 header nav a:hover{
     color: #fff;
 }

 .serie-principal{
     font-size: 16px;
     background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('poster-sobraeossos.jpg');
     height: 400px;
     background-size: cover;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

 }

 .serie-principal .descricao {
     margin-bottom: 40px;
     margin-top: 10px;

 }

.titulo {
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;

}
.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor:pointer;
    transition: 2s ease all;

}

.botao:hover{
    background-color: white;
    color: var(--preto);
}

.botao i {
    margin-right: 8px;
}
.link {
    text-decoration:none;
    color: white;
}
.container{
    margin-left: 20px;
}

.serie-principal .container{
    width: 70%;
}

.box-filme{
    height:100%;
    width:100%;
    display: block;
}

.box-carrossel{
    margin-top: 10px;
}

.filmes{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

}
.series{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}